html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
}

.message-error {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 18px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 6px 9px -1px;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
}

.modal {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: 10px;
  padding: 18px;
  max-width: 80%;
  transform: translatex(-50%);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 6px 9px -1px;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
}

.close {
  color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus,
.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  margin: 10px;
  cursor: pointer;
}

.btn {
  float: left;
  padding: 8px;
  min-width: 60px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
  text-align: center;
  overflow: hidden;
  user-select: none;
}

.btn:nth-child(1) {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.btn:nth-child(3) {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.btn:hover {
  background-color: #ebebeb;
}

.btn--active, .btn:active {
  font-weight: 700;
}

.info {
  margin-left: 10px;
  padding: 8px;
  min-width: 100px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 4px -1px;
}
