html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
}

.message-error {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 18px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 6px 9px -1px;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
}

.modal {
  position: absolute;
  top: 20%;
  margin: 10px;
  padding: 18px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 6px 9px -1px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  text-align: justify;

}

@media (min-width: 769px) {
  .modal {
    left: 50%;
    max-width: 400px;
    transform: translateX(-50%);
  }
}

.modal.modal--hide {
  display: none;
}

.close {
  color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus,
.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  margin: 10px 10px 0 10px;
  cursor: pointer;
}

.btn {
  float: left;
  padding: 8px;
  min-width: 60px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
  text-align: center;
  overflow: hidden;
  user-select: none;
}

.btn:nth-child(1) {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.btn:nth-child(3) {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.btn:hover {
  background-color: #ebebeb;
}

.btn--active, .btn:active {
  font-weight: 700;
}

.measure {
  top: 49px !important; /* overwrite Google Maps style */
  left: 120px !important;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.btn.btn-measure,
.btn.btn-clear{
  min-width: initial;
  padding: 2.4px 8px 0 8px;
  border-radius: 2px;
}

.btn.btn-clear {
  display: none;
}

.slider-wrapper {
  margin: 0 20px 0 20px;
}

.slider-value {
  background: #ffffff;
}

.info {
  margin: 10px;
  padding: 8px;
  min-width: 100px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
}

.element-hidden {
  display: none;
}

/* Google Maps overwrite */
.gm-style-mtc div {
  padding: 8px !important;
}

/* Measure tool overwrite */
.measure-tool-context-menu {
  width: initial !important;
  padding: 0;
}

.measure-tool-context-menu ul li {
  padding: 8px;
  font-size: 11px;
}


